@charset "utf-8";
/* *********************************** */
/*  header å³ä¸æ¹ icon  (ç°-é è¨­ vs ç½) */
/*
.round_link a .Gray { display: none; }
.round_link a .White { display: inline-block;}
*/


/* *********************************** */
/* å°ICONæä¸ä¾æ´æ­£æªæ¡*/
/*
.round_link a .White ,.round_link a ,.round_link a .Gray { width: 32px; height: 28px; }
.box_link li:first-child a object.Black,.box_link li:first-child a object.Gray{width:22px;height:22px;}
.box_link li:first-child+li a object.Black,.box_link li:first-child+li a object.Gray{width:40px;height:40px;}
/*


/* *********************************** */
/*  footer å³ä¸æ¹ icon  (é»-é è¨­ vs ç°) */
/*
.box_link li a object.Black { display: none; }
.box_link li a object.Gray { display: inline-block; }
*/


/* *********************************** */
/* æ²æéè³¼ç©è»-é è¨­ vs æéè³¼ç©è» */
/**/
.search_link a.with_shopping_mode {	display: inline-block;}

#menuTop ul:before { border-top:0 !important; }

#header { padding: 14px 0; height:120px; }



/* *********************************** */
/* ç¢åççæ´å¤æéè¨­å® */
.products-list .more { }
.products-list a:hover .more { }


/* *********************************** */
/* é é¢çéºµåå± é¦é /é é¢åç¨±/ */
.path {}


/* *********************************** */
/* é é¢ä¸æ¹å»£å */
.banner {} 
.banA {}
.banB {}
.banC {}
.banD {}
.banE {}
.banF {}

/* *********************************** */
/* éå°é å°¾ç¬¬å¹¾åä½è¨­å® */
.footer_info ul li:nth-child(1) { /*display:none;*/}


/* *********************************** */
/* ç¸æ¬åé¡å¨çé¢ ( éå¶æå¯¬2000px 
.work_page .main_part { max-width:2000px;}
.work_page .show_content { padding:0; width:100%;}
.work_page .show-list .item { width:33%; display:inline-block; float:none; margin:0; padding:0;}
@media screen and (max-width: 768px) {
.work_page .show-list .item { width:49%;}
}
@media screen and (max-width: 570px) {
.work_page .show-list .item { width:100%;}
}
.work_page .show-list .item a { max-width:100%;}
.work_page .show-list .show_pic { height:auto; line-height:0;}
.work_page .show-list .show_pic img { max-width:100%; max-height:100%;}
.work_page .show-list .show_name { position:absolute; top:50%; right:10%; width:80%; height:auto; line-height:160%; font-size: 20px; color: #FFFFFF !important; border: solid 1px #fff; text-align: center; margin: -20px 0 0 -120px; padding:5px 20px; transition:all ease-in .3s; opacity:0;}
.work_page .show-list .item:hover .show_name {opacity:1;}
*/


/* ç¸æ¬åè¡¨ 
.work_info_page .main_part { max-width:2000px;}
.work_info_page .path { display: none; }
.work_info_page .show_content { padding:0; width:100%;}
.work_info_page .subalbum-menu { text-align:center;}
.work_info_page .subalbum-menu h2 { float:none;}
.work_info_page .pic-list .item { margin:0; padding:10px; width:49%; float:none; display:inline-block;}
@media screen and (max-width: 768px) {
.work_info_page .pic-list .item { width:100%;}
}
.work_info_page .pic-list .show_pic { height:auto; line-height:0;}
.work_info_page .pic-list .show_pic img { max-width:100%; max-height:100%;}
.work_info_page .pic-list .item a { max-width:100%; pointer-events: none; cursor: default; } /*åæ¶é£çµè¢«é»æææ*/


@media screen and (max-width: 768px) {
#header { height:auto; }
#bottom_menu {display: block; }
.footer.with_shopping_mode { padding: 50px 0 90px; }

/* é è¨­ææ©çå®å¼µåç æ²æéå */
/* 
.bannerindex { display:none;}
.mobile_wp { display:block;}
*/
}

@media screen and (max-width: 600px) { 
/* ææ©ç è¼ªæ­åå¦å¤å¨æå*/
/*
.swiper-slide img { display:none; }
.bannerindex { height:100vh; padding:0;}
.swiper-slide:nth-child(1) { background-image: url(); background-size:cover;}
.swiper-slide:nth-child(2) { background-image: url(); background-size:cover;}
*/
}

