@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family:'Roboto','sans-serif','å¾®è»æ­£é»é«','Microsoft JhengHei';
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #444;
    text-decoration: none;
}
a.svg{
  position: relative;
  display: inline-block;
}
a.svg:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
.slowAnimation {
    -webkit-transition: ease .4s;
    -moz-transition: ease .4s;
    -ms-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}
.star {
    padding: 3px;
    display: inline-block;
    width: 13px;
}
.red { 
    color: #ff4c4c;
}
.center {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#content {
    width: 100%;
    /*overflow: hidden;*/
}
#content_main {
    width: 100%;
    overflow: hidden;
    z-index: 60;
    position: relative;
    margin-top: 100vh;
background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 30%,rgba(255,255,255,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.show_content {
    width: 96%;
    margin: auto;
    padding: 50px 10px;
}
.contact_content {
    width: 98%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
}
.form_content {
    width: 96%;
    max-width: 970px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 15px;
    color: #444;
}
.path {
    width: 96%;
    margin: auto;
    font-size: 13px;
    color: #444;
    text-align: right;
    border-bottom: 1px solid #ccc;
}
.path p {
    position: relative;
    width: auto;
    display: inline-block;
    padding-left: 5px;
    line-height: 24px;
    margin-bottom: -1px;
    border-bottom: 1px solid #000;
    max-width: 210px;
}
.path p:after {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 5px;
    left: 0;
    bottom: -3px;
}
.page {
    margin: 40px;
    font-size: 16px;
    color: #545454;
    text-align: center;
}
.page li {
    display: inline-block;
    margin: 5px;
}
.page li a {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.page li:hover a {
    opacity: 0.9;
}
.page li.prev a {
    background: url(../left_btn.png) center center no-repeat;
}
.page li.next a {
    background: url(../right_btn.png) center center no-repeat;
}


#page #menu, #nav-toggle, .search_box.for_mobile {
    display: none;
}
.pageIndex #header {
    position: fixed;
}
#header {
    background: #fff;
    font-size: 16px;
    padding: 25px 0;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 9999;
}
#header .logo {
    display: block;
    float: left;
    position: relative;
    z-index: 99;
}
#header .logo h1 {
    text-indent: -9999px;
    height: 1px;
    line-height: 1px;
    margin: 0;
}
#menuTop {
    width: 100%;
    padding-left: 230px; /*ç®ålogoå¯¬210px å ä¸è·é¢20px */
    text-align: right;
}
#menuTop ul {
    position: relative;
    margin-top: 25px;
}
#menuTop ul:before {
    content: '';
    border-top: 1px solid #ddd;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 880px;
    width: 100%; 
}
#menuTop li {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    background: transparent;
}
#menuTop li a {
    display: block;
    padding: 15px;
    line-height: 26px;
    color: #391911;
}
#menuTop li ul {
    display: none;
    position: absolute;
    border: 1px solid #391911;
    background-color: #fff;
    left: -30%;
    right: -30%;
    width: auto;
    margin-top: 0;
    z-index: 51;
}
#menuTop li li {
    display: block;
    width: 100%;
    margin-top: 0;
}
#menuTop li li:first-child {
    padding-top: 5px;
}
#menuTop li li a {
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
#menuTop li:hover ul {
    display: inline;
}
.topTop {
    font-size: 14px;
    color: #391911;
    letter-spacing: 0.1em;
    line-height: 30px;
    position: relative;
}
.search_link a {
    display: none;
    margin-right: 30px;
    color: #391911;
}
.topTop a i {
    padding-right: 5px;
    color: #391911;;
}
.search_box {
    display: inline-block;
    width: 230px;
    height: 30px;
    vertical-align: middle;
    position: relative;
}
.search_txt {
    width: 100%;
    border: 1px solid #391b11;
    padding: 5px;
}
.search_btn {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin: 1px;
    background: none; 
}
.search_txt + .fa {
    position: absolute;
    right: 5px;
    top: 8px;
    color: #391b11;
}
.round_link {
    display :block;
    float: right;
    line-height: 0;
}
.round_link a {
    margin: 0 0 0 10px;
    vertical-align: middle;
    display: inline-block;
}
.round_link a .White {
    display: none;
}
.footer {
    padding: 50px 0 20px;
    font-size: 14px;
    background: #fff;
    position: relative;
    border-top: 1px solid #6B7079;
	z-index:99;
}
.footer_info {
    padding-left: 300px;
    padding-right: 60px;
}
.box_link {
    float: right;
}
.box_link li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin-top: -1px;
    border: 1px solid #d6d6d6;
}
.box_link li a object {
    vertical-align: middle;
}
.box_link li a object.Black {
    display: inline-block;
}
.box_link li a object.Gray {   
    display: none;
}
.footer_logo {
    display: inline-block;
    width: 295px;
    vertical-align: top;
    margin-left: -300px;
}
.footer_info ul {
    vertical-align: top;
    letter-spacing: 0.3em;
    color: #797979;
    display: inline-block;
    width: 100%;
    line-height: 22px;
}
.footer_info li {
    margin-top: 5px;
}
.add_blank {
    display: inline-block;
    width: 52px;
}
.footer_menu {
    padding: 20px 5px 10px;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #6B7079;
}
.footer_menu li {
    display: inline-block;
    padding: 10px;
}
.footer_menu li a {
    font-size: 14px;
    line-height: 26px;
    color: #878787;
}
.copy {
    text-align: center;
    padding: 10px 0;
    line-height: 120%;
}
.total_view {}
#to_top {
    width: 70px;
    height: 70px;
    padding-top: 20px;
    font-size: 12px;
    color: #111;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#to_top i {
    position: relative;
    display: block;
    margin: auto;
    backface-visibility: hidden;
}
#to_top i:before,
#to_top i:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100px;
    background: #111;
    transition: all 100ms ease-in-out;
}
#to_top i:before {
    transform: rotate(-40deg);
}
#to_top i:after {
    transform: rotate(40deg);
}
#to_top i.top {
    width: 20px;
    height: 25px;
}
#to_top i.top:before, #to_top i.top:after {
    height: 15px;
    width: 1px;
    top: 0;
    left: 50%;
}
#to_top i.top:before, #to_top i.top:after {
    transform-origin: 50% 0%;
}
#bottom_menu {
    display: none;
}
.keywords {
    width: 100%;
    display: block;
    height: 2px;
    overflow: hidden;
    color: #072457;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-text-size-adjust: none;
    position: absolute;
    bottom: 0;
}

/*  é¦é   */
.news_part {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.title_box {
    font-family: 'Josefin Sans','sans-serif','å¾®è»æ­£é»é«';
    font-size: 24px;
    color: #212121;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 245px;
}
.news_part .title_box {
    margin-left: -250px;
    padding: 15px 0;
}
.title_box span {
    font-family: 'sans-serif','å¾®è»æ­£é»é«';
    font-size: 20px;
    color: #202020;
}
.news_list {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.news_list ul li {
    letter-spacing: 1px;
    padding: 15px 0;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.news_list ul li span {
    font-size: 15px;
    color: #a6a6a6;
    width: 150px;
    padding-left: 15px;
    display: inline-block;
}
.news_list ul li:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.pageIndex .main_part {
    border-top: 1px solid #ccc;
}
.main_part {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}
.products-list .title_box {
    width: 100%;
}
.products-list .item {
    width: 25%;
    float: left;
    padding: 0 10px;
    margin-top: 45px;
    margin-bottom: 30px;
}
.products-list .item a {
    display: block;
    max-width: 210px;
    margin: 0 auto;
    position: relative;
}
.products-list .pic {
    display: block;
    position: relative;
    height: 210px;
    overflow: hidden;
    text-align: center;
}
.products-list .pic  img {
    max-width: 100%;
    max-height: 210px;
    height: auto !important;
    display: inline-block;
}
.products-list .name {
    font-size: 15px;
    color: #444;
    letter-spacing: 1px;
    margin-top: 15px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 44px;
}
.products-list .price * {
    display: inline-block;
    margin: 15px 5px;
}
.products-list .price b {
    color: #ADA17E;
    font-size: 16px;
}
.products-list .more {
    border: 1px solid #ADA17E;
    color: #ADA17E;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}
.item.show:nth-child(odd) a {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-delay: 0.2s;
}
.item.show:nth-child(even) a {
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

/* other pages */
.banA {background-image: url('../images/smallBanner1.png');}
.banB {background-image: url('../images/smallBanner2.png');}
.banC {background-image: url('../images/smallBanner3.png');}
.banD {background-image: url('../images/smallBanner4.png');}
.banE {background-image: url('../images/smallBanner5.png');}
.banF {background-image: url('../images/smallBanner6.png');}
.banner {
    font-size: 40px;
    padding: 50px 0;
    background-position: left bottom;
    text-align: center;
    line-height: 100px;
-moz-box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.5) inset;
-webkit-box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.5) inset;
box-shadow:1px 1px 3px 2px rgba(20%,20%,40%,0.5) inset;
}

/* products */
.product-layer-two {
    margin: 20px 0;
}
.product-layer-two li {
    display: inline-block;
    margin: 5px 10px 0px 0;
    padding: 5px 0;
    position: relative;
}
.product-layer-two li a {
    position: relative;
    border: 1px solid #391911;
    background: #fff;
    padding: 5px 25px 5px 20px;
    display: block;
    font-size: 16px;
    color: #391911;
}
.product-layer-two li.active a {
    font-weight: bold;
}
.product-layer-two li.active li a {
    font-weight: normal;
}
.product-layer-two li a:after {
    position: absolute;
    content: '';
    display: block;
    right: 0;
    top: 0; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 15px 0;
    border-color: transparent #391911 transparent transparent;
}
.product-layer-two li ul {
    position: absolute;
    z-index: 100;
    top: 100%;
    width: 110%;
    border-radius: 3px;
    margin-left: -5%;
    margin-top: -3px;
}
.product-layer-two li li {
    display: none;
    background: #fff;
    margin: 0;
}
.product-layer-two li li a {  
    background: #fff;  
    border: none;
    font-size: 14px;
    padding: 4px 8px;
}
.product-layer-two li:hover ul {
    border: 2px solid #391911;
}
.product-layer-two li:hover li {
    display: block;   
}
.product-layer-two li li a:after {
    display: none;
}

.product-wrapper {
    margin: 0 auto;
    position: relative;
}
.fixedsticky {
    top: 0;
}
.mobile_product_name {
    display: none;
    margin-bottom: 20px;
}
.product_main {
    padding: 30px 1em 30px 0;
    display: inline-block;
    width: 72%;
    vertical-align: top;
}
.sidebarBtn {
    margin-top: 60px;
    padding: 1.6em 10px;
    display: inline-block;
    width: 28%;
    vertical-align: top;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.sidebarBtn h2 {    
    color: #111;
    font-size: 24px;
}
.sidebarBtn .price {
    color: #f8b71f;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 3px solid #e6e6e6;
    letter-spacing: 1px;
}
.sidebarBtn .price span {
    font-size: 16px;
}
.product_info {
    margin: 20px 0;
}
.product_info li {
    padding-left: 90px;
    margin: 10px 0;
}
.product_info li span {
    display: inline-block;
    vertical-align: top;
    width: 85px;
    margin-left: -90px;
    font-size: 14px;
    color: #999;
}
.product_info li .txt_box {
    display: inline-block;
    vertical-align: top;
    color: #268cdf;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.radio-inline__label {
    display: inline-block;
    padding: 2px 8px;
    margin: 2px 5px 2px 0;
    border-radius: 1px;
    transition: all .2s;
    color: #444;
    border: 1px solid #ccc;
}
.radio-inline__input:checked + .radio-inline__label {
    background: #fff;
    border: 1px solid #000;
}
.amountNum {
    width: 45px;
    height: 28px;
    border: 1px solid #ccc;
    line-height: 28px;
    margin-left: 4px;
    color: #444;
    padding-left: 5px;
}
.action-button {
    width: 100%;
    border-radius: 5px;
    background: #f8b71f;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.action-button:hover {
    background: #2cc7d7;
}
.toShare {
    border-top: 1px solid #e6e6e6;
    font-size: 12px;
    color: #888;
    margin-top: 20px;
    padding-top: 20px;
}
.toShare a {
    display: inline-block;
    margin-left: 10px;
}
.product_pic {
    padding-bottom: 20px;
    padding-left: 125px;
    position: relative;
}
.product_pic #bx-pager {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-left: -125px;
    padding: 0 10px;
    font-size: 12px;
    color:#391911;

    position: absolute;
    top: 0;
}
.product_pic #bx-pager .block {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product_pic #bx-pager a {
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    margin: 2px;
    border: 1px solid #e9e9e9;
}
.product_pic #bx-pager a img {
    width: 100%;
}
.product_pic .bx-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 500px;
    margin: 30px 0 30px;
    padding: 0 10px;
}
.product_pic .bx-wrapper .bx-viewport {
    max-width: 500px;
}

.accordion {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
}
.accordion-item {
    border-bottom: 1px solid #e5e5e5;
}
.accordion-thumb {
    margin: 0;
    padding: .8rem 0;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    font-size: 18px;
}
.accordion-thumb::before {
    position: absolute;
    right: 0;
    content: '';
    display: inline-block;
    height: 7px;
    width: 7px;
    margin-right: 1rem;
    margin-top: .5rem;
    vertical-align: middle;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}
.accordion-panel {
    margin: 0;
    padding-bottom: .8rem;
    display: none;
}
.accordion-item.is-active .accordion-thumb::before {
    -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.accordion-panel img {
    max-width: 100%;
}
.qalist {
    border: 1px solid #f5f5f5;
    width: 94%;
    margin: 20px auto;
    background: #fafafa;
}
.qalist .infomation-left {
    width: 25%;
    float: left;
    font-size: 13px;
    color: #666;
    padding: 15px 10px;
    border: 1px solid #f5f5f5;
    border-bottom: none;
    margin: -1px 0 0 -1px;
    line-height: 18px;
}
.qalist .infomation-left span {
    color: #b9b9b9;
    display: block;
}
.qalist .infomation-right {
    width: 75%;
    float: left;
    background: #fff;
    font-size: 15px;
    color: #444;    
    border-bottom: 1px solid #f5f5f5;
}
.quest, .answer {
    position: relative;
    padding-left: 40px;
    margin: 15px;
}
.quest:before, .answer:before {
    position: absolute;
    display: block;
    width: 40px;
    height: 100%;
    left: 0;
    font-family: 'Josefin Sans','sans-serif','å¾®è»æ­£é»é«';
    padding:5px;
}
.quest:before {content:'Q';color: #ada17e;}
.answer:before {content:'A';color: #cc0000;}
.qaform {
    width: 94%;
    margin: 20px auto;
    font-size: 15px;
    color: #545454;
    line-height: 26px;
}
.half_box {
    width: 50%;
    float: left;
    padding-right: 10%;
}
.half_box li {
    margin: 10px 0;
}
.half_box li.btn_blankTop {
    margin-top: 120px;
}
.breakF {
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    padding: 5px;
}
.productBtn {
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    padding-left: 15%;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
    text-align: left;
}
.lastaction {
    color: #aaa;
    background-color: #e8e4d8;
    background-image: url('../images/last_AC.png');
    background-position: right top;
}
.nextaction {
    color: #fff;
    background-color: #ada17e;
    background-image: url('../images/next_AC.png');
    background-position: right bottom;
}
.lastPage {
    font-size: 16px;
    color: #fff;
    background: #ADA17E;
    padding: 10px 20px;
    display: block;
    margin: 40px auto;
    width: 130px;
    text-align: center;
}
.stepImg {
    display: block;
    margin: 40px auto;
    max-width: 500px;
    width: 98%;
}
.stepImg span {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    color: #bfcbd8;
    width: 33.3%;
}
.stepImg span.active {
    color: #f8b71f;
    font-style: italic;
}
.stepImg span.one {
    text-align: left;
}
.stepImg span.three {
    text-align: right;
}
.stepImg img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.shopping-cart {
    width: 100%;
    margin: 15px auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
}
.shopping-cart.check {
    margin: 10px auto;
}
.shopping-cart .cart_head {
    background: #4d4d4d;
    color: #fff;
}
.shopping-cart .row {
    position: relative;
    height: auto;
    margin: 25px 0;
    clear: both;
}
.shopping-cart.check .row {
    margin-top: 0;
}
.shopping-cart .cart_content .row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.shopping-cart .cell {
    padding: 10px;
    text-align: center;
    width: 20%;
    float: left;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px;
} 
.shopping-cart .cell.product_name {
    width: 44%;
    text-align: left;
    padding-left: 90px;
    position: relative;
    min-height: 76px;
    font-weight: bold;
}
.shopping-cart.check .cell {
    width: 25%;
}
.shopping-cart.check .cell.product_name {
    width: 42%;
}
.shopping-cart .cell.product_name span {
    font-size: 15px;
    font-weight: normal;
    display: block;
    color: #444;
    margin-top: 5px;
}
.shopping-cart .cell.amount {
    width: 8%;
}
.shopping-cart .cart_head .cell.product_name {
    min-height: initial;
}
.small_pic {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0;
    margin-left:-90px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.small_pic img {
    max-width: 100%;
}
.payment {
    margin: 30px;
    float: left;
}
.payment li {
    margin: 15px;
}
.total_amount {
    width: 350px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: 5px;

    color: #444;
}
.total_amount ul {
    border: 1px solid #ddd;
    position: relative;
    padding: 20px;
    margin-bottom: 30px; 
}
.total_amount ul:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 5px;
    right: -5px;
    border-right: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd; 
}
.total_amount li {
    margin: 10px 0;
}
.total_amount li span {
    float: right;
}
.total_amount .rewrite_simple, .total_amount .send_simple {
    width: 150px;
    margin-right: 0; 
}
.total_amount .send_simple {
    float: right;
}
.car_page .list_before.account:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    background: #444;
    bottom: -30px;
}
.car_page .list_before.info:before {
    display: none;
}
.car_page .list_before li.btn {
    padding: 0;
    padding-top: 20px;
}
.declaration {
    background: #eee;
    line-height: 40px;
    padding: 5px 15px;
}

.notetext {
    margin: 20px 0 40px;
    padding: 0 20px;
    color: #444;
    line-height: 30px;
}



/* workshow */
.lb-data .lb-caption {
    font-weight: normal;
}
.subalbum-menu {
    margin: 30px 0;
    padding: 0 15px;
}
.subalbum-menu h2 {
    font-size: 20px;
    color: #391911;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.block {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    background: #391911;
    vertical-align: middle;
}
.other_subalbum {
    display: block;
    font-size: 16px;
    vertical-align: top;
    padding-left: 4px;
    overflow: hidden;
}
.other_subalbum li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #391911;
    background: #fff;
    letter-spacing: 2px;
}
.other_subalbum li a {
    display: block;
    font-size: 16px;
    color: #391911;
    padding: 5px 10px;
}
.other_subalbum li.active {
    border: 1px solid #F8B720;
    font-weight: bold;
    background: #fff;
}
.other_subalbum li.active a {
    color: #F8B720;
    padding: 4px 9px;
}
.other_album {
    position: relative;
}
.other_album:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
    top: 10px;
}
.album_fixed_title {
    font-size: 20px;
    color: #666;
    margin-top: -15px;
    padding-right: 30px;
    display: inline-block;
    position: relative;
    background: #fff;
}
.album_fixed_title embed {
    vertical-align: middle;
    margin-right: 10px;
}
.other_album_choice {
    margin: 30px 0;
}
.other_album_choice li {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
    background: #ADA17E;
    font-size: 15px;
    display: inline-block;
    border-radius: 18px;
    padding: 7px 20px;
}
.other_album_choice li a {
    color: #fff;
}
.other_album_choice li .fa {
    height: 14px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
}


.pic-list .item {
    width: 25%;
    float: left;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.pic-list .item a {
    display: block;
    max-width: 320px;
    margin: 0 auto;
}
.pic-list .show_pic {
    display: block;
    height: 250px;
    overflow: hidden;
    text-align: center;
}
.pic-list .show_pic img {
    max-width: 100%;
    max-height: 250px;
    height: auto!important;
    display: inline-block;
}


.show-list .item {
    width: 29.3%;
    float: left;
    padding: 0 10px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 45px;
    margin-bottom: 40px;
}
.show-list .item a {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
}
.show-list .show_pic {
    display: block;
    position: relative;
    height: 230px;
    border-radius: 4px;
    border: 1px solid #C2C2C2;
    overflow: hidden;
    text-align: center;
}
.show-list .show_pic img {
    max-width: 100%;
    max-height: 230px;
    height: auto !important;
    display: inline-block;
}
.show-list .show_name {
    font-size: 20px;
    color: #111;
    letter-spacing: 0.15em;
    line-height: 1.5;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 62px;
}
.show-list .item:hover .show_name {
    color: #f8b720;
}
.overlay {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,.3);
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all .4s 100ms cubic-bezier(.42,0,.58,1);
}
.show-list .item:hover .overlay{
    opacity: 1;
    -webkit-transform:  scale(1);
    transform: scale(1);
}


/* dropdown page */
.promotion_title {
    font-size: 13px;
    color: #666;
    border-bottom: 1px solid #ADA17E;
}
.promotion_title span {
    font-size: 13px;
    color: #666;
}
.time {
    letter-spacing: 0.25em;
    font-size: 24px;
    color: #666;
}
.promotion_title h2 {
    font-size: 24px;
    color: #101010;
    font-weight: normal;
    border-bottom: 2px solid #ADA17E;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
.other_promotion li {
    width: 30.3%;
    float: left;
    padding: 5px 15px;
    margin: 20px 1.5%;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    line-height: 20px;
    color: #666;
}
.other_promotion .pmtTime {
    font-size: 22px;
    margin: 10px 0;
}
.other_promotion .pmtTime span {
    float: right;
    font-size: 13px;
}
.other_promotion .pmtTitle h3{
    font-size: 16px;
    color: #444;
    margin-top: 20px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 45px;
    font-weight: normal;
}
.other_promotion li:hover {
    border-top: 1px solid #111;
}
.other_promotion li:hover h3 {
    text-decoration: underline;
    font-weight: bold;
}
.edit {
    width: 96%;
    margin: 0 auto;
    padding: 20px 0;
}


/* contact */
.information_left, .information_right {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.contact_content .information_left {
    width: 295px;
    margin-left: -300px;
}
.contact_content .information_right {
    width: 100%;
    padding-left: 15%;
}
.blank_letter {
    font-family: 'Josefin Sans','sans-serif','å¾®è»æ­£é»é«';
    padding-left: 60px;

    padding-top: 30px;
    font-size: 26px;
    color: #101010;
    background-position: left bottom;
    background-repeat: no-repeat;
}
.blank_letter.i {
    background-image: url('../images/contact_i.png');  
}
.blank_letter.f {
    background-image: url('../images/contact_f.png');  
}
.list_before {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #444;
    display: block;
    width: 100%;
    position: relative;
}
.list_before li {
    margin: 5px 0;
    position: relative;
    line-height: 1.5;
}
.list_before.info li{
    padding-left: 32px
}
.list_before.account li{
    padding-left: 65px
}
.list_before li.btn {
    padding: 0;
    padding-bottom: 30px;
}
.list_before li.btn .animated-arrow {
    margin: 30px 0;
    width: 100%; 
}
.list_before.info:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 1px;
    background: #444;
    bottom: 0;
}
.TEL:before, .ADD:before {
    position: absolute;
    display: block;
    width: 35px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
}
.TEL:before {content: "TEL";}
.ADD:before {content: "ADD";}
.ACCN1:before, .ACCN2:before, .ACCN3:before, .ACCN4:before {
    position: absolute;
    display: block;
    width: 60px;
    left: 0;
    font-size: 14px;
    font-weight: bold;
}
.ACCN1:before {content: "æ¶å";}
.ACCN2:before {content: "éè¡åç¨±";}
.ACCN3:before {content: "éè¡ä»£ç¢¼";}
.ACCN4:before {content: "éè¡å¸³è";}


/*--------è¯çµ¡æåè¡¨å® ----------*/
.note {
    font-size: 13px;
    text-align: right;
}
.contact_form {
    margin-top: 30px;
    margin-bottom: 20px; 
    font-size: 15px;
    color: #444;
}
.contact_form li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    border-bottom: 1px solid #C2BCB4;
}
.contact_form li.last {
    border: none;
    text-align: right;
    margin-top: 30px;
    padding-left: 0;
}
.contact_form li .form__label {
    display: inline-block;
    width: 85px;
    text-align: right;
    margin-left: -90px;
    padding-right: 10px;
    vertical-align: top;
}
.contact_form li .form__insert {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
/*--------å¯æ¬¾éç¥è¡¨å®----------*/
.formbox_form {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #444;
    font-size: 15px;
    line-height: 1.5;
}
.formbox_form li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
}
.formbox_form li.last {
    margin-top: 30px;
}
.formbox_form li .form__label {
    display: inline-block;
    width: 125px;
    text-align: left;
    margin-left: -130px;
    vertical-align: top;
}
.formbox_form li .form__insert {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
/*--------sms inquiry è¡¨å®-------*/
.form_formonly li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 160px;
    border-bottom: 1px solid #C2BCB4;
}
.form_formonly li.last {
    border: none;
    text-align: right;
    margin-top: 30px;
    padding-left: 0;
}
.form_formonly li .form__label {
    display: inline-block;
    width: 145px;
    text-align: right;
    padding-right: 15px;
    margin-left: -150px;
    vertical-align: top;
}
.form_formonly li .form__insert {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.form_description {    
    margin: 25px auto;
    width: 92%;
    font-size: 14px;
    color: #777263;
    letter-spacing: 2px;
}

/* checkbox radio  æ¨£å¼ */
.form label {
    display: block;
    position: relative;
    float: left;
    width: auto;
    margin-right: 20px;
    /*margin-left: 20px;*/
    margin-bottom: 5px;
    color: #858585;
}
.form label .inputbox {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 4px;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 3px;
    outline: none;
    display: inline-block;
    border: 0;
}
.form label.Bigcheck {
    float: none;
    display: inline-block;
    color: #4c4c4c;
    font-size: 15px;
    margin-left: 20px;
    top: 5px;
}
.form label .inputbox.Big {
    width: 22px;
    height: 22px;
}
.form label.circle .inputbox {
    background-image: url('../images/circle.png');
}
.form label.circle input:checked {
    background-image: url('../images/circle_ok.png');
}
.form label.check .inputbox {
    background-image: url('../images/check.png');
}
.form label.check input:checked {
    background-image: url('../images/check_ok.png');
}
.form label.Bigcheck .inputbox {
    background-image: url('../images/big_check.png');
}
.form label.Bigcheck input:checked {
    background-image: url('../images/big_check_ok.png');
}
.form select {
    -webkit-appearance: button;
    background-color: #EDEDED;
    background-image: url('../images/select_arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 1px solid #C2BCB4;
    color: #666;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 5px;   
    padding: 3px 26px 3px 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* input æ¨£å¼ */
.noborder {
    border: none;
    width: 100%;
    padding: 5px 0;
    vertical-align: middle;
}
.border200 {
    width: 200px;
    border: 1px solid #c2bcb4;
    padding: 5px;
}
.longer {
    width: 400px;
}
.filltext {
    width: 200px;
    background: #D2CCB9;
    vertical-align: middle;
    display: inline-block;
    padding: 5px 0;
    border: none;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* é©è­ç¢¼ */
.captcha {
    width: 100px;
}
.captcha_img {
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
.captcha_img .fa{
    vertical-align: super;
    margin-left: 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
/* è¡¨å®æé , æé*/
.rewrite {
    background: none;
    padding: 10px 20px;
}
.innersend {
    width: inherit;
    padding-left: 50px;
    line-height: 50px;
    background: none;
    text-align: left;
}
.last .animated-arrow {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 20px;
    vertical-align: middle;
}
.rewrite_simple, .send_simple {
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.rewrite_simple {
    background: #ada17e url('../images/simple_left.png') 10% center no-repeat;
}
.send_simple {
    background: #f8b720 url('../images/simple_right.png') 88% center no-repeat;
}

/*------------éç¨æ»¿çåæ®µæ¬é ­-------------*/
.separate_title {
    font-size: 16px;
    color: #444;
    padding: 10px 0 10px 40px;
    background: #eee url('../images/separateTitle.png') left center no-repeat;
}
.separate_title .note {
    font-size: 13px;
    float: none;
    padding-left: 20px;
}








/* æ»åç®­é ­ æé */
.animated-arrow {
    background: #ADA17E;
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    width: 250px;
    padding-left: 5%;
    position: relative;
}
.animated-arrow.stay_mid {
    margin-left: auto;
    margin-right: auto;
}
.arrow {
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    fill: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
 

@media screen and (max-width: 1200px) {
.show-list .item {
    width: 31.3%;
    margin-right: 1%;
    margin-left: 1%;
}
.show-list .show_pic {
    height: 210px;
}
.show-list .show_pic img {
    max-height: 210px;
}

@media screen and (max-width: 980px) {
#header {
    height: auto;
}
#menuTop {
    position: relative;
    padding-left: 0;
}
.round_link {
    margin-bottom: 10px;
    float: none;
}
#menuTop ul:before {
    border-top: 1px solid #391911;
    max-width: initial;
    width: 96%;
    margin-right: 2%;
}
#menuTop ul ul:before {
    display: none;
}
#menuTop ul {
    clear: both;
    text-align: center;
}
#menuTop ul li {
    /*margin-top: 0;*/
}
#menuTop ul li a {
    padding: 15px 28px; 
}
#menuTop li ul {
    margin-top: -5px;
}
#menuTop ul li li a {
    padding: 5px;
}
.topTop {
    padding-top: 10px;
    width: 96%;
    margin: auto;
}


.main_part {
    padding: 50px 0;
}
.news_part {
    padding-left: 20px;
    padding-right: 20px;
}
.title_box {
    width: 200px;
    font-size: 22px;
    display: block;
}
.news_part .title_box {
    margin: auto;
}
.products-list .item {
    width: 33.3%;
}

.other_promotion li {
    width: 31.3%;
    padding: 0 10px;
    margin: 20px 1%;
}

.contact_content .information_right {
    padding-left: 8%;
}
.rewrite {
    padding: 10px;
}

.subalbum-menu h2 {
    float: none;
    margin-bottom: 15px;
}
.pic-list .item {
    width: 33.3%;
}

.product_main {
    padding: 30px 0.5em 30px 0;
    width: 65%;
}
.product_pic #bx-pager {
    padding: 0;
    width: 100px;
    margin-left: -105px;
    margin-top: 20px;
}
.product_pic #bx-pager a {
    width: 60px;
    height: 60px;
}
.product_pic {
    padding-left: 100px;
}
.sidebarBtn {
    width: 35%;
}


@media screen and (max-width: 768px) {
#menuTop {
    display: none;
}
.pageIndex #header, #header {
    position: relative;
}
#header .logo {
    margin: auto;
    text-align: center;
    float: none;
}
#nav-toggle { 
    margin-left: 50px;
    padding: 20px 0;
    position: relative;
    display: block;
    float: left;
    width: 35px;
    margin-top: 10px;
    z-index: 101;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 1px;
    width: 35px;
    background: #222;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px; 
}
#nav-toggle span:after {
    bottom: -10px;
}
.search_box.for_mobile {
    display: block;
    width: 100%;
}
.footer_info {
    padding: 0 40px; 
}
.footer_logo {
    margin-left: 0;
    display: block;
}
.footer_info ul {
    margin-top: 30px;
}
.footer_menu li {
    padding: 5px 20px;
}
#bottom_menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background: #fff;
    padding: 0;
    text-align: center;
    border-top: 1px solid #391B11;
    -webkit-box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.2); 
}
#bottom_menu li {
    display: block;
    float: left;
    width: 25%;
    border-right: 1px solid #391B11;
}
#bottom_menu li a{
    line-height: 26px;
    display: block;
    font-size: 13px;
    padding: 9px 5px;
}
#bottom_menu li .fa {
    display: block;
}



#content_main {
    margin-top: auto;
}
.parallax_box {
    position: relative;
    top: 0;
}

.subalbum-menu {
    padding: 0;
}
.show_content {
    padding: 30px 0;
    width: 100%;
}
.show-list .item {
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
}
.show-list .show_name {
    height: 55px;
    font-size: 18px;
}
.stepImg span {
    font-size: 14px;
}
.shopping-cart {
    width: 100%;
}
.shopping-cart .cart_head {
    display: none;
}
.shopping-cart .cart_content .row {
    margin: 20px 0;
    display: block;
    border-bottom: 2px solid #ddd;
    margin-left: 90px;
    display: inline-block;
}
.shopping-cart .cell {
    width: 100%;
    display: block;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.shopping-cart .cell.product_name {
    min-height: 86px;
    font-size: 16px;
    text-align: right;
    padding-left: 5px; 
}
.shopping-cart .cell.product_name,.shopping-cart .cell.amount,
.shopping-cart.check .cell.product_name,
.shopping-cart.check .cell {
    width: 100%;
}
.small_pic {
    left: 0;
}
.shopping-cart  .cell:last-child {
    border-bottom: 2px solid #adaaaa;
}
.shopping-cart  .cell:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    color: #a09e91;
}
.payment {
    float: none;
}
.total_amount {
    width: auto;
    margin-right: auto;
}
.car_page .information_left {
    width: 90%;
    display: block;
    margin: 50px auto 20px;
}
.car_page .list_before.account {
    width: 100%;
}
.car_page .list_before.info {
width: 250px;
}


.other_promotion li {
    width: 48%;
}

.contact_content {
    padding: 0;
}
.contact_content .information_left {
    width: 100%;
    margin-left: 0;
}
.list_before.info:before {
    display: none;
}
.list_before.info {
    width: 50%;
    max-width: 300px;
    margin-right: 10%;
    float: left;
}
.list_before.account {
    width: 40%;
    max-width: 300px;
    float: left;
}
.contact_content .information_right {
    padding: 0;
}
/* sms inquiry form */
.form_formonly li {
    padding-left: 115px;
    font-size: 14px;
}
.form_formonly li .form__label {
    width: 110px;
    padding-right: 10px;
    margin-left: -122px;
}
.formbox_form li.last ,.form_formonly li.last {
    text-align: center;
}

.mobile_product_name {
    display: block;
}
.product_pic {
    padding-top: 20px;
}
.product_main {
    padding: 15px 0.5em 10px;
    width: 100%;
}
.sidebarBtn {
    padding: 1em 10px;  
    width: 90%;
    margin: 20px auto 0;
    display: block;
}
.product_info li {
    padding-left: 140px;
}
.product_info li span {
    width: 105px;
    margin-left: -110px;
}
.fixedsticky {
    top: initial;
}
.half_box {
    padding-right: 5%;
}

@media screen and (max-width: 600px) {
#nav-toggle {
    margin-left: 20px;
}
.copy {
    padding-right: 0;
    padding-top: 18px;
    line-height: 16px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.copy a {}
.footer_info {
    padding: 0 10px;
}
.footer_info ul {
    letter-spacing: 0.1em;
}
.add_blank {
    width: 41px;
}
.footer_menu li {
    padding: 5px 10px;
}
.total_view {
    position: initial;
    display: block;
}

.title_box {
    font-size: 20px;
}
.title_box span {
    font-size: 15px;
}
.news_part {
    padding-left: 10px;
    padding-right: 10px;
}
.news_list ul li {
    padding: 10px;
}
.news_list ul li span {
    display: block;
    padding: 0;
}
.banner {
    font-size: 30px;
    padding: 20px 0;
}
.main_part {
    padding: 50px 10px;
}
.products-list .item {
    width: 50%;
}
.products-list .item.first_box {
    width: 100%;
}

.pic-list .item {
    width: 50%;
}
.show-list .item {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
}
.pic-list .item a {
    max-width: 280px;
}
.pic-list .show_pic {
    height: 215px;
}
.pic-list .show_pic img {
    max-height: 215px;
}
.other_album_choice li {
    font-size: 14px;
}

.product-layer-two li {
    margin: 0 5px 0 0;
}
.product_pic .bx-wrapper {
    margin: 30px 0 0 0;
}
.product_pic {
    padding: 0;
}
.product_pic #bx-pager {
    width: 100%;
    position: initial;
    margin-left: 0;
}
.product_pic #bx-pager a {
    width: 45px;
    height: 45px;
}
.half_box {
    width: 90%;
    float: none;
    padding: 0;
    margin: auto;
}
.half_box li.btn_blankTop {
    margin-top: 20px;
}
.productBtn {
    width: 47%;
    margin-right: 2%;
}
.sidebarBtn h2 {
    font-size: 20px;
}
.qalist .infomation-right, .qalist .infomation-left {
    float: none;
    width: 100%;
}


.other_promotion li {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
}

.contact_content {
    padding: 30px 0;
}
.list_before.info {
    width: 100%;
    margin-right: 0;
    float: none;
}
.list_before.account {
    width: 100%;
    float: none;
    margin-bottom: 40px;
}
.last .animated-arrow {
    margin: 0;
    width: 200px;
}

/* contact form */
.contact_form li {
    padding-left: 80px;
}
.contact_form li .form__label {
    width: 75px;
    margin-left: -80px;
}
/* remit form */
.formbox_form li {
    padding: 0;
}
.formbox_form li .form__label {
    width: 100%;
    margin-left: 0;
}
.formbox_form li .form__insert {
    padding-left: 13px;
}
/* input style */
.border200 , .longer {
    width: 100%;
}
.border200.captcha {
    width: 100px;
}
.border200.fix200 {
    width: 180px;
}
.filltext {
    width: 150px;
    padding: 5px 3px; 
}
/* btn */
.rewrite_simple, .send_simple {
    width: 130px;
    margin: 10px 5px;
    font-size: 16px;
}



}/* 600 */
}/* 768 */
}/* 980 */
}/* 1200 */






/* å¤§æ¼ 768 ææç åç«ææ */
@media screen and (min-width: 768px) {
.box_link li:hover {
    opacity: 0.75;
}
#to_top:hover i:before {
    transform: rotate(-50deg);
}
#to_top:hover i:after {
    transform: rotate(50deg);
}
.animated-arrow:hover .arrow {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.products-list a:hover .more {
    background: #ADA17E;
    border-color: #ADA17E;
    color: #fff;
}
.captcha_img:hover .fa {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.rewrite_simple:hover, .send_simple:hover {
    opacity: 0.9;
}
.other_subalbum li:hover {
    border: 1px solid #F8B720;
    font-weight: bold;
    background: #fff;
}
.other_subalbum li:hover a{
    color: #F8B720;
    padding: 4px 10px;
}
.other_album_choice li:hover .fa {
    margin-left: 15px;
    margin-right: 5px;
    -webkit-transition: ease .4s;
    -moz-transition: ease .4s;
    -ms-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}




}/* > 768 ç¹æ */


.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.animated15 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.delay5 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px)scale(1);
    -ms-transform: translateY(10px)scale(1);
    transform: translateY(10px)scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0)scale(1);
    -ms-transform: translateY(0)scale(1);
    transform: translateY(0)scale(1);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px)scale(1);
    -ms-transform: translateY(-10px)scale(1);
    transform: translateY(-10px)scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0)scale(1);
    -ms-transform: translateY(0)scale(1);
    transform: translateY(0)scale(1);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10px)scale(1);
    -ms-transform: translateX(10px)scale(1);
    transform: translateX(10px)scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0)scale(1);
    -ms-transform: translateX(0)scale(1);
    transform: translateX(0)scale(1);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px)scale(1);
    -ms-transform: translateX(-10px)scale(1);
    transform: translateX(-10px)scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0)scale(1);
    -ms-transform: translateX(0)scale(1);
    transform: translateX(0)scale(1);
  }
}
@keyframes zoomIn {
    from {
        opacity: 0.2;
        transform: scale3d(.95, .95, .95);
    }
    30% {
        opacity: 0.8;
        transform: scale3d(1, 1, 1);
    }
    70% {
        opacity: 1;
    }
}
/* - right_member_in */
.right_member_in { position:fixed; top:25%; right:0; width:30px; background:#fff; border: 1px #ccc solid; padding:7px; text-align:center; z-index:99999999;}
.right_member_in img { max-width:100%;}
.right_member_in ul { display:block; width:20px; margin:10px auto;}
.right_member_in li { display:block; font-size:14px; word-break:break-word;}
.right_member_in input { width:18px; height:36px; margin:5px auto 0;}

/* - member index */
.member_title { margin:0 auto; max-width:600px; text-align:center; margin-bottom:50px;}
.member_title img {}
.member_title p { font-size:20px; margin: 20px auto 5px; padding:40px 0 5px 0; border-top: 2px #7AA354 solid;}
.member_title em { font-size:14px; font-style:normal;}

.member_order { max-width:850px; margin:0 auto; padding:30px 10px; /*text-align:center;*/ background: url('../images/mem_bg.png') no-repeat bottom right #ECECFB;}
.member_order a { display:inline-block; width:252px; height:62px; text-indent:-99999px; background: no-repeat 0 0; border-radius:5px; margin: 10px;}
a.m_order_1 { background-image:url('../images/mem_btn_img1.png'); background-color: rgba(255,255,255,0.75); border: 1px #ABA07D solid;}
a.m_order_2 { background-image:url('../images/mem_btn_img2.png'); background-color: rgba(255,255,255,0.75); border: 1px #ABA07D solid;}
a.m_order_3 { background-image:url('../images/mem_btn_img3.png'); background-color: rgba(255,255,255,0.75); border: 1px #ABA07D solid;}
a.m_order_4 { background-image:url('../images/mem_btn_img4.png'); background-color: rgba(255,255,255,0.75); border: 1px #ABA07D solid;}
a.m_order_5 { background-image:url('../images/mem_btn_img5.png'); background-color: rgba(255,255,255,0.75); border: 1px #ABA07D solid;}
a.m_order_1:hover { background-image:url('../images/mem_btn_h_img1.png'); background-color: rgba(55,55,55,0.75); }
a.m_order_2:hover { background-image:url('../images/mem_btn_h_img2.png'); background-color: rgba(55,55,55,0.75); }
a.m_order_3:hover { background-image:url('../images/mem_btn_h_img3.png'); background-color: rgba(55,55,55,0.75); }
a.m_order_4:hover { background-image:url('../images/mem_btn_h_img4.png'); background-color: rgba(55,55,55,0.75); }
a.m_order_5:hover { background-image:url('../images/mem_btn_h_img5.png'); background-color: rgba(55,55,55,0.75); }

/* - member login */
.member_title h2 { font-size:25px; }
.member_login,
.member_login_regist { max-width:490px; margin:0 auto 50px; }
.member_login tr td { padding:5px;}
.member_login tr td:nth-child(1) { width:100px; text-align:right;}
.login_mem_name,
.login_mem_pass { background: no-repeat center left; padding: 7px; padding-left:40px; border:1px #ccc solid; color:#888; width:100%; }
.login_mem_name { background-image:url('../images/mem_icon2.png');}
.login_mem_pass { background-image:url('../images/mem_icon3.png');}
.login_mem_submit { background: #7AA354; color:#fff; width:100%; padding:7px; text-align:center;}
.login_mem_other_link { margin: 10px auto;}
.login_mem_other_link a { color:#7aa354; font-size:14px;}

.member_login_regist { background:#ECECFB; text-align:center; padding:30px;}
.member_login_regist h2 { font-size:20px; margin-bottom:7px; color:#444;}
.member_login_regist p { font-size:15px; margin-bottom:7px; color:#888; font-family:Arial, Helvetica, sans-serif;}
.member_login_regist a { background:#ABA07D; display:inline-block; color:#fff; padding:10px 20px;}

/* - member regist */
.mem_regist_title_s { max-width:360px; margin: 0 auto; font-size:18px; background:#F5F2CD; color:#222; text-align:center; margin:20px auto; padding:7px;}
.mem_regist_title_s_s { font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center; padding:10px; color:#666; font-family:Arial, Helvetica, sans-serif; line-height:185%;}
.member_regist { width:600px; margin: 10px auto;}
.member_regist tr td { padding:5px;}
.member_regist tr td:nth-child(1) { width:120px; text-align:right;}
.member_regist tr td:nth-child(2) { width:480px; text-align:left;}
.member_regist input { width:100%; border: 1px #d8d8d8 solid; padding:7px; color:#aaa;}
.member_copy_right_box { border: 1px #d8d8d8 solid; height:360px; overflow:scroll; max-width:800px; padding:10px; font-size:12px; color:#666; margin: 10px auto;}

/* - member data search */
.mem_box2 { text-align:center;}
.mem_box2 input.bbtn01,
.mem_box2 input.bbtn02 { width:160px; margin:20px; text-align:center; padding: 15px 20px; color:#fff; background:#ABA07D;}
.mem_box2 input.bbtn01 { background:#ABA07D;}
.mem_box2 input.bbtn02 { background:#7AA354;}

/* - order_history */
.order_history { margin: 0 auto; background:#cccccc;}
.order_history td { background:#fff; padding: 15px 25px; color:#999;}
.order_history tr { background:#963; border-bottom:1px #ccc solid;}
.order_history tr:nth-child(1) td { background:#f0f0f0; color:#121212;}
.order_history tr td:nth-child(3) a { display: block; font-size:12px; color:#fff; background:#c63; padding:3px 5px; width:70px; margin-top:5px;}


@media screen and (max-width: 768px) {
.mask_order_history { width:100%; padding:20px; overflow:auto;}
.order_history { background:none;}
.order_history tr:nth-child(1) { display:none;}
.order_history tr { background:#fff; /*border: 1px #ccc solid;*/ width:48%; margin:1% 1% 3%; float:left; display:block;}
.order_history tr td { display:block; float:left; width:100%; padding: 5px; border-bottom: 1px #f0f0f0 solid;}
.order_history tr td:nth-child(1) { text-align:center;}
.order_history tr td:nth-child(1) span { display:inline-block; font-weight:1000; color:#fff; background: #429e39; padding:15px; border-radius:100%;}
.order_history tr:nth-child(1) { width:98%;}
}
@media screen and (max-width: 640px) {
/* member regist */
.member_regist { width:100%}
.member_regist tr td:nth-child(2) { width:auto;}
}
@media screen and (max-width: 480px) {
.order_history tr { width:98%;}
}
@media screen and (max-width: 400px) {
/* member regist */
.member_regist tr td,
.member_regist tr td:nth-child(1),
.member_regist tr td:nth-child(2) { display:block; float:left; width:100%; text-align:left;}
}